.breadcrumb {
  li {
    font-size: var(--text-5);
    &:before {
      content: '' !important;
      background-image: url('../img/icon-angle.svg');
      background-repeat: no-repeat;
      background-size: 5 / $fontSizeRelative + em 9 / $fontSizeRelative + em;
      width: 5 / $fontSizeRelative + em;
      height: 9 / $fontSizeRelative + em;
      margin-top: 6 / $fontSizeRelative + em;
      margin-right: 5 / $fontSizeRelative + em;
    }
    &.active {
      color: var(--cf-2-1);
    }
  }
  a {
  }
}