.button-base {
  @extend .button-clear;
  font-size: var(--text-4);
  text-transform: uppercase;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 42 / $fontSizeRelative + em;
  border: 2px solid var(--bdc-1-0);
  padding: 5 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
  border-radius: var(--bdrs-2);
  transition: linear .1s;
  &:hover {
    text-decoration: none;
    transform: scale(.95, .95);
  }
}

.button-base-secondary {
  @extend .button-base;
  text-transform: none;
}


.button-secondary {
  @extend .button-clear;
  font-size: var(--text-4);
  text-align: center;
  color: var(--cf-1-0);
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 42 / $fontSizeRelative + em;
  padding: 5 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
  
  background-color: var(--bgc-2-0);
  border: 1px solid transparent;
  border-radius: var(--bdrs-2);
  transition: linear .1s;
  .svg-icon {
    margin-right: 1em;
    &--bigger {
      font-size: var(--icon-1);
      margin-right: .5em;
    }
  }
  &:hover {
    color: var(--cf-3-0);
    background-color: var(--bgc-0-0);
    border-color: var(--bdc-1-0);
    text-decoration: none;
    @extend .box-shadow--1;
  }
}

.button-basket {
  position: relative;
  @extend .button-secondary;
  padding-left: 10 / $fontSizeRelative + em;
  padding-right: 20 / $fontSizeRelative + em;
  .svg-icon {
    font-size: var(--icon-1);
    margin-right: .5em;
  }
  .button-basket__badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 19 / 12 + em;
    height: 19 / 12 + em;

    font-size: var(--text-6);
    color: var(--cf-1-0);
    border-radius: var(--bdrs-2);

    background-color: var(--bgc-2-2);
  }
  &:hover {
    color: var(--cf-3-0);
    .button-basket__badge {
      color: var(--cf-1-0);
    }
  }
}

.button-search {
  @extend .button-clear;
  width: 34 / 14 + em !important;
  height: 34 / 14 + em !important;
  background-color: var(--bgc-2-0) !important;
  border-radius: var(--bdrs-2) !important;
  font-size: var(--text-5) !important;
  color: var(--cf-1-0) !important;
  transition: linear .1s !important;
  &:hover {
    transform: translate(0, -50%) scale(.95, .95) !important;
  }
}

.button-toggle {
  @extend .button-clear;
  background-color: var(--bgc-2-1);
  padding: .5em;
  color: var(--cf-1-0);
  font-size: var(--text-1);
  position: sticky;
  top: 10px;
  left: 10px;
  border-radius: var(--bdrs-2);
}

.button-toggle-secondary {
  @extend .button-toggle;
  background-color: var(--bgc-1-0);
  color: var(--cf-3-1);
}


.button-reset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5 / $fontSizeRelative + em 15 / $fontSizeRelative + em;

  font-size: var(--text-6);
  min-height: 29 / 12 + em;
  text-align: center;
  color: var(--cf-1-0);
  text-transform: uppercase;
  
  background-color: var(--bgc-2-0);
  border-radius: var(--bdrs-2);
  transition: linear .1s;
  &:hover {
    color: var(--cf-1-0);
    transform: scale(.95, .95);
    text-decoration: none;
  }
}

.button-secondary-second {
  @extend .button-secondary;
  background-color: var(--bgc-0-0);
  color: var(--cf-3-0);
  font-weight: 700;
  padding-left: 25 / $fontSizeRelative + em;
  padding-right: 25 / $fontSizeRelative + em;
}
.button-secondary-second__img {
  margin-right: .8em;
  width: 25 / $fontSizeRelative + em;
  height: 25 / $fontSizeRelative + em;
}
.button-secondary-second__label {

}


.button-del {
  @extend .button-clear;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32 / 12 + em;
  width: 32 / 12 + em;
  border: 1px solid var(--bdc-2-0);

  font-size: var(--text-6);
  color: var(--cf-1-0);

  background-color: var(--bgc-4-0);
  border-radius: var(--bdrs-2);
  a.remove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    font-size: var(--text-6) !important;
    color: var(--cf-1-0) !important;
    width: 100% !important;
    height: 100% !important;
  }
  &:hover {
    background-color: transparent;
    color: var(--cf-5-0);
    a.remove {
      color: var(--cf-5-0) !important;

    }
  }
}