.card-nav {
  position: sticky;
  top: 10 / $fontSizeRelative + em;
  left: 0;
  width: 240 / $fontSizeRelative + em;
  padding: 50 / $fontSizeRelative + em 20 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
  background-color: var(--bgc-2-1);
  border-radius: var(--bdrs-2);
  @include media(m, $lg) {
    padding: 30 / $fontSizeRelative + em;
  }
}
.card-nav__toggle {
  @extend .button-clear;
  position: absolute;
  top: 0;
  left: 100%;
  @include media(d, $lg) {
    padding: 0.5em;
  }
}

.card-nav__list {
  @extend .list-clear;
  li {
    margin-bottom: 25 / $fontSizeRelative + em;
  }
  a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    font-size: var(--text-5);
    color: var(--cf-1-0);
    font-weight: 700;
  }
  .ratio {
    width: 25 / $fontSizeRelative + em;
    margin-right: 1em;
  }
}
.card-nav__item {
  padding: 15 / $fontSizeRelative + em 0;
  max-height: 290 / $fontSizeRelative + em;
  overflow-y: auto;
}
.card-nav__item-title {
  font-weight: 700;
  font-size: var(--text-5);
  margin-bottom: 1em;
}



.card-info {
  padding: 20 / $fontSizeRelative + em;
  margin-bottom: 10 / $fontSizeRelative + em;
  
  color: var(--cf-2-0);
  
  background-color: var(--bgc-1-0);
  border-radius: var(--bdrs-2);
  @include media(m, $sm) {
    min-width: 240 / $fontSizeRelative + em;
  }
  @include media(m, $lg) {
    width: 240 / $fontSizeRelative + em;
  }
  h4 {
    margin-bottom: 1em;
  }
  .button-secondary {
    margin-top: 1em;
  }
  .text--6 {
    color: var(--cf-2-1);
  }
}
.card-info-secondary {
  background-color: var(--bgc-0-0);
}


.card-base {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bdc-0-0);
  border-radius: var(--bdrs-2);
  color: var(--cf-0-2);
  background-color: var(--bgc-0-0);
  // overflow: hidden;
  .card__in {
    position: relative;
    top: 0;
    transform-origin: 0 0;
  }
  .card__img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: var(--bdrs-2) var(--bdrs-2) 0 0;
    // margin-bottom: 1em;
  }
  .card__img {
    width: 100%;
    --bs-aspect-ratio: calc(170 / 270 * 100%);
  }
  .card__img-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;

    color: var(--cf-1-0);
    font-size: var(--text-1);
    font-weight: 700;
  }
  .card__body {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    padding: 1em 1.3em;
    background-color: var(--bgc-0-0);
    flex-grow: 1;
  }
  .card__title {
    margin-bottom: 0.5em;
  }

  .card__content {
    color: var(--cf-2-1);
    font-size: var(--text-5);
    margin-bottom: 1em;
  }
  .card__price {
    margin-top: auto;
    font-size: 30 / $fontSizeRelative + em;
    color: var(--cf-3-1);
    font-weight: 700;
    margin-bottom: 15 / 30 + em;
  }
  .card__rate {
    font-size: var(--text-2);
    color: var(--cf-2-2);
    margin-bottom: 1em;
    .svg-icon {
      &.active {
        color: var(--cf-4-0);
      }
    }
  }
 
  .card__user {
    // margin-bottom: 1em;
    .text--6 {
      color: var(--cf-2-1);
    }
  }
  
  .button-secondary {
    width: 100%;
    .svg-icon {
      margin-right: 0 !important;
      margin-left: 1em;
      font-size: var(--text-1);
    }
  }
  .card__element-hidden {
    padding: 0 1em 1em;
    // transition: opacity linear .1s, visibility linear .1s;
    @extend .box-shadow--0;
    @include media(m, $lg) {
      position: absolute;
      bottom: 1px;
      left: -1px;
      right: -1px;
      z-index: 1;
      
      transform: translate(0, 100%);
      border-radius: 0 0 var(--bdrs-2) var(--bdrs-2);
      opacity: 0;
      visibility: hidden;
      border: 1px solid var(--bdc-1-0);
      border-top-color: transparent;
      background-color: var(--bgc-0-0);
    }
  }
  .card-info {
    background-color: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  // .star-rating {
  //   float: none !important;
  //   &:before {
  //     color: var(--cf-2-2) !important;
  //   }
  //   span {
  //     &:before {
  //       color: var(--cf-4-0) !important;
  //     }
  //   }
  // }
  &:hover {
    text-decoration: none;
    color: var(--cf-0-2);
    border-color: var(--bdc-1-0);
    border-radius: var(--bdrs-3);
    @extend .box-shadow--0;
    @include media(m, $lg) {
      border-bottom-color: transparent;
    }
    .card__element-hidden {
      opacity: 1;
      visibility: visible;
    }
  }
}



.card-secondary {
  display: flex;
  margin-bottom: 1em;
  color: var(--cf-0-2);
  @include media(m, $sm) {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: .6em;
  }
  .card__img-wrap {
    flex-shrink: 0;
    width: 100%;
    .ratio {
      --bs-aspect-ratio: 50%;
      @include media(m, 450) {
        --bs-aspect-ratio: 35%;
      }
    }
    img {
      width: 100% !important;
      height: 100% !important;
    }
    @include media(m, $sm) {
      width: 140px;
      .ratio {
        --bs-aspect-ratio: calc(185 / 140 * 100%);
        // a {
        //   --bs-aspect-ratio: calc(185 / 140 * 100%);
        // }
      }
    }
  }
  .card__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20 / $fontSizeRelative + em;
  }
  .card__body-head {
    margin-bottom: 10 / $fontSizeRelative + em;
    a {
      color: var(--cf-0-1) !important;
    }
  }
  .card__content {
    font-size: var(--text-5);
    color: var(--cf-2-1);
    max-width: 350 / 14 + em;
  }
  .card__stars {
    color: var(--cf-2-2);
    margin-bottom: 15 / $fontSizeRelative + em;
    .svg-icon {
      &.active {
        color: var(--cf-4-0);
      }
    }
  }
  .card__body-foot {
    margin-top: auto;   
  }
  .card__user {
    .text--6 {
      color: var(--cf-2-1);
    }  
  }
  .card__price {
    font-size: var(--h-2);
    color: var(--cf-3-0);
    font-weight: 700;
  }
  &:hover {
    text-decoration: none;
    color: var(--cf-0-2);
    @extend .box-shadow--1;
  }
}


.card-payment {
  border: 2px solid var(--bdc-1-0);
  min-height: 102 / 25 + em;
  font-size: var(--h-3);
  padding: 25 / 25 + em;
  flex-direction: row;
  align-items: center;
  
  color: var(--cf-3-0);
  font-weight: 700;
  .card__img-wrap {
    width: 60 / 25 + em;
    flex-shrink: 0;
  }
  .ratio {
    --bs-aspect-ratio: calc(44 / 60 * 100%);
  }
  .card__label {
    flex-grow: 1;
    text-align: center;
  }
}


.card-user {
  border: none;
  padding: 0;
  .card__user-name {
    font-weight: 700;
    color: var(--cf-0-2);
    font-size: var(--text-4);
  }
}


.card-review {
  border: none;
  font-size: var(--text-5);
  color: var(--cf-0-2);
  border-bottom: 1px solid var(--bdc-0-1);
  margin-bottom: 20 / 14 + em;
  .card__date {

  }
  .card__body {
    padding: 1em 0 20 / 14 + em;
  }
  .card__title {
    font-size: var(--text-4);
    font-weight: 700;
    margin-bottom: 1em;
  }
  .card__content {
    color: var(--cf-2-1);
    margin-bottom: 1em;
  }
}



.card-rate {
  border: none;
  background-color: var(--bgc-1-0);
  border-radius: var(--bdrs-2);
  padding: 20 / $fontSizeRelative + em;
  .card__total {
    line-height: 1;
  }
  .card__body {
    padding: 1em 0;
  }
  .card__count-col {
    text-align: right;
    width: 40 / $fontSizeRelative + em;
  }
}



.card-info {
  .card-info__form {
    label {
      display: block;
      @extend .form-label;
    }
    input {
      @extend .form-control;
      // padding: 20 / $fontSizeRelative + em;
    }
    textarea {
      @extend .form-control;
      resize: none;
    }
    select {
      // @extend .form-control;
      @extend .form-select;
      padding: 5 / 14 + em 10 / 14 + em;
      border-color: var(--bdc-0-1);
      font-size: var(--text-5);
      color: var(--cf-0-1);
      height: 36 / 14 + em;
      border-radius: var(--bdrs-2);
      box-shadow: none;
      &:focus {
        box-shadow: none;
        border-color: var(--bdc-0-1);
      }
    }
  }
}