.carousel {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20 / $fontSizeRelative + em;
  .ratio {
    width: 100%;
    --bs-aspect-ratio: calc(245 / 846 * 100%);
  }
  .swiper-button-prev, .swiper-button-next {
    width: 25 / $fontSizeRelative + em;
    height: 25 / $fontSizeRelative + em;
    border-radius: var(--bdrs-1);
    background-color: var(--bgc-0-0);
    color: var(--cf-3-1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    transform: translate(0, -50%);
    @include media(m, $sm) {
      width: 34 / $fontSizeRelative + em;
      height: 34 / $fontSizeRelative + em;
    }
    &:after {
      font-size: var(--text-6);
      @include media(m, $sm) {
        font-size: var(--text-4);
      }
    }
  }
  .swiper-button-prev {
    left: 10 / $fontSizeRelative + em;
  }
  .swiper-button-next {
    right: 10 / $fontSizeRelative + em;
  }
}