.dropdown {

}
.dropdown-mobile {
  position: relative;
  .dropdown__toggle {
    @extend .button-search;
    @include media(m, $xl) {
      display: none;
    }
    &:hover {
      transform: none !important;
    }
  }
  .dropdown__drop {
    @include media(d, $xl) {
      position: absolute;
      right: 0;
      z-index: 2;
      top: 100%;
      margin-top: 20 / $fontSizeRelative + em;
      width: 400 / $fontSizeRelative + em;
      padding: 50 / $fontSizeRelative + em 20 / $fontSizeRelative + em 20 / $fontSizeRelative + em;

      background-color: var(--bgc-0-0);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
      // box-shadow: 0px 4px 7px 0px rgba(110, 110, 110, 0.15);
      border-radius: var(--bdrs-3);

      opacity: 0;
      visibility: hidden;
    }
    @include media(d, $sm) {
      width: 300 / $fontSizeRelative + em;
    }
  }
  .dropdown__icon-burger {

  }
  .dropdown__icon-close {
    display: none;
  }
  .nav-menu {
    @include media(m, $xl) {
      display: none;
    }
  }
  &.visible {
    .dropdown__drop {
      opacity: 1;
      visibility: visible;
    }
    .dropdown__icon-burger {
      display: none;
    }
    .dropdown__icon-close {
      display: inline-block;
    }
  }
}