.link {

}
.link-phone {
  font-size: var(--text-1);
  font-weight: 700;
  color: var(--cf-3-2);
  .svg-icon {
    font-size: var(--icon-1);
    margin-right: .5em;
    transition: linear .1s;
  }
  &:hover {
    color: var(--cf-3-2);
    text-decoration: none;
    .svg-icon {
      transform: scale(1.1);
    }
  }
}
.link-phone__label {
  vertical-align: middle;
}

.link-contact {
  color: var(--cf-1-0) !important;
}