.list-footer-nav {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
  h1, h2, h3, h4, h5, h6, a {
    color: var(--cf-1-0);
  }
  ul {
    @extend .list-clear;
  }
  li {
    margin-bottom: 0.5em;
  }
  &--without-child {
    a {
      text-transform: uppercase;
    }
  }
}


.list-socials {
  ul {
    @extend .list-clear;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin-right: 1em;
  }
}


.list-nav {
  padding: 10 / $fontSizeRelative + em;
  margin-bottom: 20 / $fontSizeRelative + em;
  background-color: var(--bgc-2-1);
  border-radius: var(--bdrs-2);
  .button-secondary-second {
    // width: 100%;
  }
}


.list-sort {
  position: relative;
  z-index: 2;
  margin-bottom: 20 / $fontSizeRelative + em;
  @include media(d, $xl) {
    display: flex;
  }
  .button-secondary {
    width: 100%;

    font-size: var(--text-1);
    color: var(--cf-0-1);
    font-weight: 700;
    min-height: 42 / 20 + em;
    
    background-color: transparent;
    justify-content: flex-start;
    text-align: left;

    @include media(d, $xl) {
      color: var(--cf-1-0);
    }
    &:hover {
      box-shadow: none;
      border-color: transparent;
      color: var(--cf-0-1);
      text-decoration: underline;
      @include media(d, $xl) {
        color: var(--cf-1-0);
      }
    }
    &.active {
      background-color: var(--bgc-2-0);
      color: var(--cf-1-0);
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.list-sort__dropdown {
  position: relative;
  z-index: 9999;
  @include media(d, $xl) {
    margin-left: auto;
  }
}
.list-sort__trigger {
  @extend .button-clear;
  font-size: var(--text-1);
  color: var(--cf-3-0);
  @include media(d, $xl) {
    // margin-left: auto;
  }
  @include media(m, $xl) {
    display: none;
  }
}
.list-sort__menu {
  min-width: 250 / $fontSizeRelative + em;
  margin: 0;
  padding: 0;
  list-style: none;
  @include media(m, $xl) {
    display: flex;
    flex-wrap: wrap;
  }
  @include media(d, $xl) {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10 / $fontSizeRelative + em;
    
    background-color: var(--bgc-2-1);
    border-radius: var(--bdrs-2);
    opacity: 0;
    visibility: hidden;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  li {
  
  }
}


.list-products {
  margin-bottom: 60 / $fontSizeRelative + em;
  .col {
    &:hover {
      z-index: 99;
    }
  }
}


.list-partners {
  text-align: center;
  .img-wrap {
    width: 160 / $fontSizeRelative + em;
    height: 40 / $fontSizeRelative + em;
    filter: grayscale(0);
    transition: linear .1s;
    &:hover {
      transform: scale(.9, .9);
    }
  }
}


.list-gallery {
  margin-bottom: 2em;
  .col {
    .ratio {
      --bs-aspect-ratio: 100%;
      width: 100%;
      img {
        height: 100% !important;
        object-fit: cover;
      }
    }
    &:first-child {
      width: 100%;
      .ratio {
        --bs-aspect-ratio: calc(320 / 843 * 100%);
        width: 100%;
      }
    }
  }
}


.list-similar-products {
  margin-bottom: 2em;
  h4 {
    margin-bottom: 0.5em;
  }
}


.list-stars {
  color: var(--cf-2-2);
  font-size: var(--text-2);
  .svg-icon {
    &.active {
      color: var(--cf-4-0);
    }
  }
}