.logo-header {
  .text--3 {
    color: var(--cf-0-1);
    font-weight: 700;
  }
  &:hover {
    text-decoration: none;
  }
}

.logo {
  display: block;
  width: 140 / $fontSizeRelative + em;
  .ratio {
    display: inline-block;
    margin-right: 30 / $fontSizeRelative + em;
    --bs-aspect-ratio: 40%;
  }
  img {
    height: 100% !important;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
  }
}