.modal-base {
  .modal-dialog {
    @include media(m, $sm) {
      max-width: 420 / $fontSizeRelative + em;
    }
  }
  .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    padding: 1em;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .modal-content {
    background-color: var(--bgc-1-0);
    border: none;
    border-radius: var(--bdrs-2);
  }
  h4 {
    padding-right: 2em;
  }
}