.progress {
  height: 2px;
  background-color: var(--bgc-0-0);
  &.active {
    .progress-bar {
      opacity: 1;
    }
  }
  .progress-bar {
    height: 2px;
    background-color: var(--bgc-3-0);
    opacity: .25;
  }
}