.tabs {
  margin-bottom: 2em;
  .nav-tabs {
  }
  .nav-item {
    &:first-child {
      .nav-link {
        padding-left: 0;
      }
    }
  }
  .nav-link {
    font-size: var(--h-4);
    color: var(--cf-3-0);
    border: none;
    padding: 10 / $fontSizeRelative + em 17 / 20 + em;
    margin-bottom: 0;
    &.active {
      border: none;
      font-weight: 700;
      &:hover {
        color: var(--cf-0-1);
      }
    }
    &:hover {
      border: none;
      color: var(--cf-3-0);
    }
  }
  .tab-content {
    padding-top: 30 / $fontSizeRelative + em;
  }
}