.section {
	padding-bottom: 30 / $fontSizeRelative + em;
	&--fullpage {
		display: flex;
		flex-direction: column;
		.section__in {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5em 0;
		}
	}
	&--paddings-base {
		padding: 1em 0;
    @include media(m, $xl) {
      padding: 2em 0;
    };
	}
}