<header class="header">
  <div class="header__head">
    <div class="container-fluid">
      <div class="row row-cols-auto align-items-center justify-content-between justify-content-md-between gy-3">
        <div class="col">
          <a class="logo-header" href="#">
            <div class="row row-cols-auto align-items-center">
              <div class="col">
                <div class="logo">
                  <div class="ratio ratio-1x1">
                    <img src="img/img-logo.svg" alt="">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="text text--3">Образцы <br> финансовых <br> моделей</div>
              </div>  
            </div>
          </a>
        </div>
        <div class="col">
          <div class="dropdown dropdown-mobile" id="dropdown-mobile">
            <button
              class="dropdown__toggle"
              data-element="toggle"
              data-target="#dropdown-mobile"
              type="button"
            >
              <svg class='dropdown__icon-burger svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-burger'></use>
              </svg>
              <svg class='dropdown__icon-close svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-close'></use>
              </svg>
            </button>
            <div class="dropdown__drop">
              <div class="row row-cols-xl-auto flex-column flex-xl-row align-items-xl-center justify-content-xl-center gy-3 gx-3">
                <div class="col">
                  <a class="link-phone" href="tel:+78005005436">
                    <svg class='svg-icon'>
                      <use xlink:href='img/svgSprite.svg#icon-phone'></use>
                    </svg>
                    <span class="link-phone__label">+7 (800) 500-5436</span>
                  </a>
                </div>
                <div class="col">
                  <div class="row flex-column flex-xl-row row-cols-xl-auto gx-2 gy-3">
                    <div class="col">
                      <a
                        class="button-base w-100"
                        data-bs-toggle="modal"
                        href="#signUp"
                        role="button"
                      >
                        Регистрация
                      </a>
                    </div>
                    <div class="col">
                      <a
                        class="button-base w-100"
                        data-bs-toggle="modal"
                        href="#signIn"
                        role="button"
                      >
                        Вход
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__sub">
    <div class="container-fluid">
      <div class="row row-cols-auto justify-content-center gx-3 gy-3">
        <div class="col flex-grow-1 flex-md-grow-0 flex-shrink-1 order-2 order-md-1">
          <a class="button-secondary w-100" href="#">
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-burger'></use>
            </svg>
            <span class="button-secondary__label">Каталог финмоделей</span>
          </a>
        </div>
        <div class="header__sub-form col flex-md-shrink-1 flex-grow-1 order-1 order-md-2">
          <form class="form-search">
            <input class="form-control" type="text" placeholder="Я хочу найти..">
            <button class="button-search">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-search'></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="col flex-grow-1 flex-md-grow-0 flex-shrink-1 order-3">
          <a class="button-basket w-100" href="#">
            <svg class='svg-icon svg-icon--bigger'>
              <use xlink:href='img/svgSprite.svg#icon-basket'></use>
            </svg>
            <span class="button-basket__label">Корзина</span>
            <span class="button-basket__badge">0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>