<footer class="footer">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 gy-3">
      <div class="col">
        <div class="list-footer-nav list-footer-nav--without-child">
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Отзывы клиентов</a></li>
            <li><a href="#">Блог</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="list-footer-nav">
          <h5>Клиентам</h5>
          <ul>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Способы оплаты</a></li>
            <li><a href="#">Безопасность</a></li>
            <li><a href="#">Лицензионное соглашение</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="list-footer-nav">
          <h5>Партнеры</h5>
          <ul>
            <li><a href="#">Найти бухгалтера</a></li>
            <li><a href="#">Регистрация ООО и ИП</a></li>
            <li><a href="#">Банки</a></li>
            <li><a href="#">Стать партнером</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="footer__item"><a class="link-contact" href="tel:+78005005436">+7 (800) 500-5436</a></div>
        <div class="footer__item"><a class="link-contact" href="mailto:support@kub-24.ru">support@kub-24.ru</a></div>
        <div class="list-socials">
          <ul>
            <li>
              <a class="link-contact" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-fb'></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="link-contact" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-vk'></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="link-contact" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-tg'></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="link-contact" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-insta'></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="link-contact" href="#">
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-tw'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


@@include('./src/partials/modals/modal-sign-up.html')
@@include('./src/partials/modals/modal-sign-in.html')