.layout-secondary {
  padding: 20 / $fontSizeRelative + em 0;
  .layout-secondary__sidebar {
    position: relative;
    @include media(d, $lg) {
      padding: 0;
    }
    .card-nav {
      @include media(d, $lg) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 99999;
  
        opacity: 0;
        visibility: hidden;
        &.visible {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .card-nav__toggle {
      @include media(m, $lg) {
        display: none;
      }
      @include media(d, $lg) {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }

    .card-info {
      @include media(m, $lg) {
        max-width: 240 / $fontSizeRelative + em;
      }
    }
  }
  .layout-secondary__sidebar-toggle {
    position: sticky;
    top: 10px;
    left: 10px;
    @include media(m, $lg) {
      display: none;
    }
  }
}




.layout-secondary__main {
  // padding-left: 40 / $fontSizeRelative + em;
}

.layout-secondary__title {
  margin-bottom: 1em;
  // max-width: 700 / $fontSizeRelative + em;
}