.layout-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-main__head {

}
.layout-main__content {
  padding-bottom: 60 / $fontSizeRelative + em;
}
.layout-main__footer {
  margin-top: auto;
}