.layout-third {
  @extend .layout-secondary;
  .card-nav {
    background-color: var(--bgc-1-0);
    padding: 60 / $fontSizeRelative + em 20 / $fontSizeRelative + em 20 / $fontSizeRelative + em;
    @include media(m, $lg) {
      padding: 20 / $fontSizeRelative + em;
    }
  }
  .layout-secondary__sidebar-toggle {
    .button-toggle {
      background-color: var(--bgc-1-0);
      color: var(--cf-3-1);
    }
  }
  .card-nav__toggle {
    .button-toggle {
      background-color: var(--bgc-1-0);
      color: var(--cf-3-1);
    }
  }
}