<div class="mb-3">
  <div class="avatar ratio ratio-1x1">
    <img src="img/avatar-0.png" alt="">
  </div>
</div>
<div class="mb-3">
  <div class="avatar-secondary ratio ratio-1x1">
    <img src="img/avatar-1.png" alt="">
  </div>
</div>