<div class="mb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Главная</a></li>
      <li class="breadcrumb-item">
        <a href="#">Каталог финмоделей</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Разобраться в своем бизнесе
      </li>
    </ol>
  </nav>
</div>