<div class="mb-3">
  <a class="button-base" href="#">Регистрация</a>
</div>
<div class="mb-3">
  <a class="button-base-secondary" href="#">Регистрация</a>
</div>
<div class="mb-3">
  <a class="button-secondary" href="#">
    <svg class="svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-burger"></use>
    </svg>
    <span class="button-secondary__label">Каталог финмоделей</span>
  </a>
</div>
<div class="mb-3">
  <a class="button-reset" href="#">Сбросить</a>
</div>
<div class="mb-3">
  <a class="button-basket" href="#">
    <svg class="svg-icon svg-icon--bigger">
      <use xlink:href="img/svgSprite.svg#icon-basket"></use>
    </svg>
    <span class="button-basket__label">Корзина</span>
    <span class="button-basket__badge">0</span>
  </a>
</div>
<div class="mb-3">
  <button class="button-search">
    <svg class="svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-search"></use>
    </svg>
  </button>
</div>
<div class="mb-3">
  <button class="button-toggle">
    <svg class="svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-arrow"></use>
    </svg>
  </button>
  <button class="button-toggle-secondary">
    <svg class="svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-arrow"></use>
    </svg>
  </button>
</div>