<div class="mb-3">
  <nav class="card-nav">
    <!-- <button class="card-nav__toggle">
      <svg class="svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-arrow"></use>
      </svg>
    </button> -->
    <ul class="card-nav__list">
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-0.svg" alt="" />
          </span>
          <span>Арендный бизнес</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-1.svg" alt="" />
          </span>
          <span>Интернет магазин </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-2.svg" alt="" />
          </span>
          <span>Логистика</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-3.svg" alt="" />
          </span>
          <span>Магазин</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-11.svg" alt="" />
          </span>
          <span>Оказание услуг</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-4.svg" alt="" />
          </span>
          <span>Онлайн-сервис</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-5.svg" alt="" />
          </span>
          <span>Оптовая торговля</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-6.svg" alt="" />
          </span>
          <span>Производство</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-7.svg" alt="" />
          </span>
          <span>Розничная торговля</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-8.svg" alt="" />
          </span>
          <span>Сельское хозяйство</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-9.svg" alt="" />
          </span>
          <span>Стартап</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ratio ratio-1x1">
            <img src="img/icon-sidebar-filter-10.svg" alt="" />
          </span>
          <span>Транспортная компания</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mb-3">
  <div class="layout-third">
    <div class="card-nav" id="filter">
      <!-- <div class="card-nav__toggle">
        <button
          class="button-toggle"
          data-element="toggle"
          data-target="#filter"
        >
          <svg class="svg-icon">
            <use xlink:href="img/svgSprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div> -->
      <div class="row row-cols-auto justify-content-between gy-3 gx-3">
        <div class="col">
          <h4>Фильтр</h4>
        </div>
        <div class="col">
          <a class="button-reset" href="#">Сбросить</a>
        </div>
      </div>
      <div class="range-slider" data-element="range-slider-component">
        <input type="text" class="js-range-slider" data-element="range-slider" value="" />
        <div class="row row-cols-auto align-items-center justify-content-center gy-2">
          <div class="col">
            <div class="row row-cols-auto align-items-center gy-2 gx-2">
              <div class="col">от</div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  data-element="range-input-min"
                  data-min="0"
                  value="0"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row row-cols-auto align-items-center gy-2 gx-2">
              <div class="col">до</div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  data-element="range-input-max"
                  data-max="1000"
                  value="0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-nav__item">
        <div class="card-nav__item-title">Рейтинг</div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-0-0" type="checkbox">
          <label class="form-check-label" for="checkbox-0-0">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-0-1" type="checkbox">
          <label class="form-check-label" for="checkbox-0-1">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-0-2" type="checkbox">
          <label class="form-check-label" for="checkbox-0-2">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-0-3" type="checkbox">
          <label class="form-check-label" for="checkbox-0-3">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-0-4" type="checkbox">
          <label class="form-check-label" for="checkbox-0-4">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
              <svg class="svg-icon active">
                <use xlink:href="img/svgSprite.svg#icon-star"></use>
              </svg>
            </span>
          </label>
        </div>
      </div>
      <div class="card-nav__item">
        <div class="card-nav__item-title">Автор</div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-0" type="checkbox">
          <label class="form-check-label" for="checkbox-1-0">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Роберт Идмундович</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-1" type="checkbox">
          <label class="form-check-label" for="checkbox-1-1">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Иван Иванович</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-2" type="checkbox">
          <label class="form-check-label" for="checkbox-1-2">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Идмунд Робетрович</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-3" type="checkbox">
          <label class="form-check-label" for="checkbox-1-3">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Григорий Вихрь</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-4" type="checkbox">
          <label class="form-check-label" for="checkbox-1-4">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Петр Валисьев</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="checkbox-1-5" type="checkbox">
          <label class="form-check-label" for="checkbox-1-5">
            <span class="form-check__pseudo">
              <svg class="svg-icon">
                <use xlink:href="img/svgSprite.svg#icon-check"></use>
              </svg>
            </span>
            <span class="form-check__label">Артур Иванов</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gy-3">
    <div class="col d-flex flex-column">
      <a class="card card-base flex-grow-1" href="#">
        <div class="card__img-wrap">
          <div class="card__img ratio">
            <img src="img/img-card-0.jpg" alt="">
          </div>
          <div class="card__img-title">Автомойка</div>
        </div>
        <div class="card__body">
          <h5 class="card__title">Автомойка на несколько постов</h5>
          <div class="card__content">
            Автомойка, по сути – вечный  рынок, с постоянно растущим  количеством потребителей этой  услуги. Сейчас не часто встретишь  автомобилиста с тряпочкой...
          </div>
          <div class="card__price">17 000 ₽</div>
          <div class="card__rate">
            <svg class='svg-icon active'>
              <use xlink:href='img/svgSprite.svg#icon-star'></use>
            </svg>
            <svg class='svg-icon active'>
              <use xlink:href='img/svgSprite.svg#icon-star'></use>
            </svg>
            <svg class='svg-icon active'>
              <use xlink:href='img/svgSprite.svg#icon-star'></use>
            </svg>
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-star'></use>
            </svg>
            <svg class='svg-icon'>
              <use xlink:href='img/svgSprite.svg#icon-star'></use>
            </svg>
          </div>
          <div class="card__user">
            <div class="row row-cols-auto flex-nowrap gx-2 gy-2">
              <div class="col">
                <div class="avatar-secondary ratio ratio-1x1">
                  <img src="img/avatar-1.png" alt="">
                </div>
              </div>
              <div class="col flex-shrink-1 flex-grow-1">
                <div class="text text--6">Автор</div>
                <div class="text text--5">Иван Иванович</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__element-hidden">
          <div class="button-secondary">
            <span class="button-secondary__label">Добавить в корзину</span>
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-basket"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gy-3">
    <div class="col d-flex flex-column">
      <a class="card card-base flex-grow-1" href="#">
        <div class="card__img-wrap">
          <div class="card__img ratio">
            <img src="img/img-card-type-0.jpg" alt="">
          </div>
          <div class="card__img-title">Разобраться в своем бизнесе</div>
        </div>
        <div class="card__body">
          <h5 class="card__title">Разобраться в своем бизнесе</h5>
          <div class="card__content">
            Финмодели для руководителей и собственников бизнеса, которые хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию
          </div>
        </div>
        <div class="card__element-hidden">
          <div class="button-secondary">Подробнее</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gy-3">
    <div class="col d-flex flex-column">
      <a class="card card-base flex-grow-1" href="#">
        <div class="card__img-wrap">
          <div class="card-info">
            <div class="avatar ratio ratio-1x1">
              <img src="img/avatar-2.png" alt="">
            </div>
            <h5>Идмунд Робетрович</h5>
            <span class="text text--6">Количество финмоделей:</span>
            <span class="text text--5">7</span>
          </div>
        </div>
        <div class="card__body">
          <div class="card__content">
            Финмодели для руководителей  и собственников бизнеса, которые  хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию
          </div>
          <div class="card__rate">
            <svg class="svg-icon active">
              <use xlink:href="img/svgSprite.svg#icon-star"></use>
            </svg>
            <svg class="svg-icon active">
              <use xlink:href="img/svgSprite.svg#icon-star"></use>
            </svg>
            <svg class="svg-icon active">
              <use xlink:href="img/svgSprite.svg#icon-star"></use>
            </svg>
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-star"></use>
            </svg>
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-star"></use>
            </svg>
          </div>
        </div>
        <div class="card__element-hidden">
          <div class="button-secondary">Подробнее</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gy-3">
    <div class="col d-flex flex-column">
      <div class="card-info flex-grow-1">
        <div class="avatar ratio ratio-1x1">
          <img src="img/avatar-2.png" alt="">
        </div>
        <h5>Идмунд Робетрович</h5>
        <span class="text text--6">Количество финмоделей:</span>
        <span class="text text--5">7</span>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <a class="card card-secondary" href="#">
    <div class="card__img-wrap">
      <div class="ratio">
        <img src="img/img-card-1.jpg" alt="">
      </div>
    </div>
    <div class="card__body">
      <div class="card__body-head">
        <div class="row flex-column-reverse flex-sm-row row-cols-sm-auto flex-sm-nowrap gx-4 gy-3">
          <div class="col flex-grow-1 flex-shrink-1">
            <h5>Автомойка на несколько постов</h5>
            <div class="card__content">
              Автомойка, по сути – вечный рынок, с постоянно растущим количеством потребителей этой услуги.
            </div>
          </div>
          <div class="col">
            <div class="card__price">17 000 ₽</div>
          </div>
        </div>
      </div>
      <div class="card__stars">
        <svg class="svg-icon active">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
      </div>
      <div class="card__body-foot">
        <div class="row row-cols-auto justify-content-between align-items-center gy-3 gx-3">
          <div class="col">
            <div class="card__user">
              <div class="row row-cols-auto flex-nowrap gx-2 gy-2">
                <div class="col">
                  <div class="avatar-secondary ratio ratio-1x1">
                    <img src="img/avatar-1.png" alt="">
                  </div>
                </div>
                <div class="col flex-shrink-1 flex-grow-1">
                  <div class="text text--6">Автор</div>
                  <div class="text text--5">Иван Иванович</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="button button-del">
              <svg class='svg-icon'>
                <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="mb-3">
  <a class="card card-payment flex-grow-1" href="#">
    <div class="card__img-wrap">
      <div class="ratio">
        <img src="img/icon-payment-0.svg" alt="">
      </div>
    </div>
    <div class="card__label">Оплата картой</div>
  </a>
</div>

<div class="mb-3">
  <div class="card card-user">
    <div class="row row-cols-auto align-items-center gy-3 gx-3">
      <div class="col">
        <div class="avatar-secondary ratio ratio-1x1">
          <img src="img/avatar-1.png" alt="">
        </div>
      </div>
      <div class="col flex-shrink-1 flex-grow-1">
        <div class="card__user-name">Идмунд Робетрович</div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="card card-review">
    <div class="card__head">
      <div class="row row-cols-auto justify-content-between align-items-center gy-3 gx-3">
        <div class="col">
          <div class="card card-user">
            <div class="row row-cols-auto align-items-center gy-3 gx-3">
              <div class="col">
                <div class="avatar-secondary ratio ratio-1x1">
                  <img src="img/avatar-1.png" alt="">
                </div>
              </div>
              <div class="col flex-shrink-1 flex-grow-1">
                <div class="card__user-name">Идмунд Робетрович</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card__date">12.05.2021</div>
        </div>
      </div>
    </div>
    <div class="card__body">
      <div class="card__title">Какое то название отзыва</div>
      <div class="card__content">
        Финмодели для руководителей и собственников бизнеса, которые хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию и собственников бизнеса, которые хотят разобраться в нем.
      </div>
      <div class="list-stars">
        <svg class='svg-icon active'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
        <svg class='svg-icon active'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
        <svg class='svg-icon active'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
        <svg class='svg-icon active'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-star'></use>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="card card-rate">
    <div class="card__head">
      <div class="row row-cols-auto align-items-center justify-content-between gy-3 gx-3">
        <div class="col">
          <div class="card__total">
            <div class="row row-cols-auto flex-nowrap align-items-center gy-2 gx-2">
              <div class="col">
                <div class="list list-stars">
                  <svg class='svg-icon active'>
                    <use xlink:href='img/svgSprite.svg#icon-star'></use>
                  </svg>
                </div>
              </div>
              <div class="col">
                <h4 class="mb-0">4.1</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col"><div class="card__review-count">51 отзывов</div></div>
      </div>
    </div>
    <div class="card__body">
      <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
        <div class="card__value-col col">5</div>
        <div class="card__progress-col col flex-shrink-1 flex-grow-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 19.6%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card__count-col col">10</div>
      </div>
      <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
        <div class="col">4</div>
        <div class="col flex-shrink-1 flex-grow-1">
          <div class="progress active">
            <div class="progress-bar" role="progressbar" style="width: 29.41%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card__count-col col">15</div>
      </div>
      <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
        <div class="col">3</div>
        <div class="col flex-shrink-1 flex-grow-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 7.83%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card__count-col col">4</div>
      </div>
      <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
        <div class="col">2</div>
        <div class="col flex-shrink-1 flex-grow-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card__count-col col">0</div>
      </div>
      <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
        <div class="col">1</div>
        <div class="col flex-shrink-1 flex-grow-1">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 43.1%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="card__count-col col">22</div>
      </div>
    </div>
    <div class="card__foot">
      <div class="text-center">
        <div class="mb-3">
          <a class="button button-base-secondary w-100" href="#">Написать отзыв</a>
        </div>
        <div>
          <a href="#">Правила написания отзывов</a>
        </div>
      </div>
    </div>
  </div>
</div>