<div class="mb-3">
  <div class="carousel swiper" data-element="carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="ratio">
          <img src="img/B1.jpg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="ratio">
          <img src="img/B2.jpg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="ratio">
          <img src="img/B3.jpg" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="ratio">
          <img src="img/B4.png" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>