<div class="mb-3">
  <form class="form-search">
    <input class="form-control" type="text" placeholder="Я хочу найти.." />
    <button class="button-search">
      <svg class="svg-icon">
        <use xlink:href="img/svgSprite.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</div>
<div class="mb-3">
  <div class="range-slider" data-element="range-slider-component">
    <input
      type="text"
      class="js-range-slider"
      data-element="range-slider"
      value=""
    />
    <div class="row row-cols-auto align-items-center gy-2">
      <div class="col">
        <div class="row row-cols-auto align-items-center gy-2 gx-2">
          <div class="col"><div class="text text--5">от</div></div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              data-element="range-input-min"
              data-min="0"
              value="0"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-auto align-items-center gy-2 gx-2">
          <div class="col"><div class="text text--5">от</div></div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              data-element="range-input-max"
              data-max="1000"
              value="0"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="form-check">
    <input class="form-check-input" id="checkbox-0-0" type="checkbox" />
    <label class="form-check-label" for="checkbox-0-0">
      <span class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-check"></use>
        </svg>
      </span>
      <span class="form-check__label">
        <svg class="svg-icon active">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-star"></use>
        </svg>
      </span>
    </label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check">
    <input class="form-check-input" id="checkbox-0-1" type="checkbox" />
    <label class="form-check-label" for="checkbox-0-1">
      <span class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-check"></use>
        </svg>
      </span>
      <span class="form-check__label">Lorem, ipsum dolor.</span>
    </label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check">
    <input class="form-check-input" id="checkbox-2-0" type="checkbox" />
    <label class="form-check-label" for="checkbox-2-0">
      <span class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-check"></use>
        </svg>
      </span>
      <span class="form-check__label">
        <span class="form-check__label-in text--5">
          <strong>Рассмотрение</strong>
          <span>Срок: 5-10 рабочих дней</span>
          <span>Стоимость: 750 рублей</span>
        </span>
      </span>
    </label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check form-check-secondary">
    <input class="form-check-input" id="checkbox-2-1" type="checkbox" />
    <label class="form-check-label" for="checkbox-2-1">
      <span class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-check"></use>
        </svg>
      </span>
      <span class="form-check__label">
        Нажимая на кнопку “Отправить финмодель на рассмтрение”, вы даете
        согласие на обработку персональных данных и принимете правила размещения
        финансовых моделей
      </span>
    </label>
  </div>
</div>
<div class="mb-3">
  <div class="form-check form-check-radio">
    <input class="form-check-input" type="radio" name="type[]" id="radio-1-0" />
    <label class="form-check-label" for="radio-1-0">
      <div class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="img/svgSprite.svg#icon-check"></use>
        </svg>
      </div>
      <div class="form-check__label text--5">Самозанятый</div>
    </label>
  </div>
</div>
<div class="mb-3">
  <div class="form-file form-file-base">
    <label class="form-file__label">
      <input class="input-hidden" type="file" />
      <span class="form-file__button button-base">Прикрепить файл</span>
      <span class="form-file__list">
        <span class="form-file__list-item">
          <span class="form-file__list-item-name">Файл №1</span>
          <a class="form-file__list-item-del" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-close"></use>
            </svg>
          </a>
        </span>
      </span>
    </label>
  </div>
</div>

<div class="mb-3">
  <div class="form-check form-check-third">
    <label class="form-check-label">
      <span class="wpcf7-form-control-wrap checkbox-rassmotrenie">
        <span class="wpcf7-form-control wpcf7-checkbox form-check-input">
          <span class="wpcf7-list-item first last">
            <input
              type="checkbox"
              name="checkbox-rassmotrenie[]"
              value="Рассмотрение"
            />
            <span class="wpcf7-list-item-label">Рассмотрение</span>
          </span>
        </span>
      </span>
      <!-- <span class="form-check__pseudo">
        <svg class="svg-icon">
          <use xlink:href="wp-content/themes/finmodel/assets/img/svgSprite.svg#icon-check"></use>
        </svg>
      </span> -->
      <span class="form-check__label">
        <span class="form-check__label-in text--5">
          <strong>Рассмотрение</strong>
          <span>Срок: 5-10 рабочих дней</span>
          <span>Стоимость: 750 рублей</span></span>
        </span>
    </label>
  </div>
</div>
