<div class="mb-3">
  <a class="link-phone" href="tel:+78005005436">
    <svg class="svg-icon">
      <use xlink:href="img/svgSprite.svg#icon-phone"></use>
    </svg>
    <span class="link-phone__label">+7 (800) 500-5436</span>
  </a>
</div>
<div class="mb-3">
  <div class="p-4" style="background-color: black;">
    <div class="mb-2">
      <a class="link-contact" href="tel:+78005005436">+7 (800) 500-5436</a>
    </div>
    <div class="mb-2">
      <a class="link-contact" href="mailto:support@kub-24.ru">support@kub-24.ru</a>
    </div>
  </div>
</div>