<div class="mb-3">
  <div class="p-4" style="background-color: black;">
    <div class="list-footer-nav">
      <h5>Клиентам</h5>
      <ul>
        <li><a href="#">Помощь</a></li>
        <li><a href="#">Способы оплаты</a></li>
        <li><a href="#">Безопасность</a></li>
        <li><a href="#">Лицензионное соглашение</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="p-4" style="background-color: black;">
    <div class="list-socials">
      <ul>
        <li>
          <a class="link-contact" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-contact" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-vk"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-contact" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-contact" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link-contact" href="#">
            <svg class="svg-icon">
              <use xlink:href="img/svgSprite.svg#icon-tw"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mb-3">
  <nav class="list-nav">
    <div class="row flex-column flex-md-row row-cols-md-auto flex-md-nowrap gx-2 gy-2">
      <div class="col d-flex flex-column">
        <a class="button-secondary-second flex-grow-1 w-100" href="#">
          <img class="button-secondary-second__img" src="img/icon-list-nav-0.svg" alt="">
          <span class="button-secondary-second__label">Онлайн курс</span>
        </a>
      </div>
      <div class="col flex-grow-1 flex-shrink-1">
        <a class="button-secondary-second flex-grow-1 w-100" href="#">
          <img class="button-secondary-second__img" src="img/icon-list-nav-1.svg" alt="">
          <span class="button-secondary-second__label">Заказать индивидуальную модель</span>
        </a>
      </div>
      <div class="col d-flex flex-column">
        <a class="button-secondary-second flex-grow-1 w-100" href="#">
          <img class="button-secondary-second__img" src="img/icon-list-nav-2.svg" alt="">
          <span class="button-secondary-second__label">Загрузить финмодель </span>
        </a>
      </div>
    </div>
  </nav>
</div>

<div class="mb-3">
  <div class="list-sort">
    <div class="list-sort__dropdown">
      <button class="list-sort__trigger" type="button" data-element="toggle" data-target="#dropdown">
        <svg class='svg-icon'>
          <use xlink:href='img/svgSprite.svg#icon-sort'></use>
        </svg>
      </button>
      <ul class="list-sort__menu" id="dropdown">
        <li><a class="button-secondary active" href="#">По популярности</a></li>
        <li><a class="button-secondary" href="#">По рейтингу</a></li>
        <li><a class="button-secondary" href="#">По цене А-Я</a></li>
        <li><a class="button-secondary" href="#">По типам</a></li>
        <li><a class="button-secondary" href="#">По авторам</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="list-partners">
    <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 justify-content-center gx-3 gy-3">
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-0.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-1.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-2.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-3.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-4.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-5.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-6.png" alt="">
        </a>
      </div>
      <div class="col">
        <a class="img-wrap" href="#">
          <img src="img/img-list-partners-7.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="list-gallery" data-element="magnific-gallery">
    <div class="row row-cols-5 gx-3 gy-3">
      <a class="col" href="img/img-list-gallery-0.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-0.jpg" alt="" />
        </div>
      </a>
      <a class="col" href="img/img-list-gallery-1.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-1.jpg" alt="" />
        </div>
      </a>
      <a class="col" href="img/img-list-gallery-2.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-2.jpg" alt="" />
        </div>
      </a>
      <a class="col" href="img/img-list-gallery-3.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-3.jpg" alt="" />
        </div>
      </a>
      <a class="col" href="img/img-list-gallery-4.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-4.jpg" alt="" />
        </div>
      </a>
      <a class="col" href="img/img-list-gallery-5.jpg">
        <div class="ratio">
          <img src="img/img-list-gallery-5.jpg" alt="" />
        </div>
      </a>
    </div>
  </div>
</div>
<div class="mb-3">
  <div class="list list-stars">
    <svg class='svg-icon active'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
    <svg class='svg-icon'>
      <use xlink:href='img/svgSprite.svg#icon-star'></use>
    </svg>
  </div>
</div>