<div class="mb-5">
  <a class="logo-header" href="#">
    <div class="row row-cols-auto align-items-center">
      <div class="col">
        <div class="logo">
          <div class="ratio ratio-1x1">
            <img src="img/img-logo.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="text text--3">Образцы <br> финансовых <br> моделей</div>
      </div>  
    </div>
  </a>
</div>