<div class="mb-3">
  <a
    class="button-base"
    data-bs-toggle="modal"
    href="#signUp"
    role="button"
  >
    Регистрация
  </a>
  @@include('./src/partials/modals/modal-sign-up.html')
</div>
<div class="mb-3">
  <a
    class="button-base"
    data-bs-toggle="modal"
    href="#signIn"
    role="button"
  >
    Войти
  </a>
  @@include('./src/partials/modals/modal-sign-in.html')
</div>
<div class="mb-3">
  <a
    class="button-base-secondary"
    data-bs-toggle="modal"
    href="#review"
    role="button"
  >
    Оставить отзыв
  </a>
  @@include('./src/partials/modals/modal-review.html')
</div>
