<div class="mb-3">
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-burger'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-search'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-basket'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-phone'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-arrow'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-check'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-close'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-fb'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-insta'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-sort'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-star'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-tg'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-tw'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-vk'></use>
  </svg>
  <svg class='svg-icon'>
    <use xlink:href='img/svgSprite.svg#icon-garbage'></use>
  </svg>
</div>