<div class="mb-3">
  <div class="tabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="description-tab"
          data-bs-toggle="tab"
          data-bs-target="#description"
          type="button"
          role="tab"
          aria-controls="description"
          aria-selected="true"
        >
          Описание
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="author-tab"
          data-bs-toggle="tab"
          data-bs-target="#author"
          type="button"
          role="tab"
          aria-controls="author"
          aria-selected="false"
        >
          Об авторе
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="reviews-tab"
          data-bs-toggle="tab"
          data-bs-target="#reviews"
          type="button"
          role="tab"
          aria-controls="reviews"
          aria-selected="false"
        >
          Отзывы
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="description"
        role="tabpanel"
        aria-labelledby="description-tab"
      >
        @@include('./src/partials/tabs/tabs-inner/tab-description.html')
      </div>
      <div
        class="tab-pane fade"
        id="author"
        role="tabpanel"
        aria-labelledby="author-tab"
      >
        @@include('./src/partials/tabs/tabs-inner/tab-author.html')
      </div>
      <div
        class="tab-pane fade"
        id="reviews"
        role="tabpanel"
        aria-labelledby="reviews-tab"
      >
        @@include('./src/partials/tabs/tabs-inner/tab-reviews.html')
      </div>
    </div>
  </div>
</div>