.footer {
  background-color: var(--bgc-3-0);
  padding: 25 / $fontSizeRelative + em 0;
  
  color: var(--cf-1-0);
  @include media(m, $xl) {
    padding: 45 / $fontSizeRelative + em 0;
  }
  .col {
    @include media(d, $md) {
      width: 100% !important;
      flex: 1 1 100%;
    }
  }
}

.footer__item {
  margin-bottom: 0.5em;
}