@import 'bootstrap/dist/css/bootstrap.min';
@import 'ion-rangeslider/css/ion.rangeSlider.min';
@import 'magnific-popup/dist/magnific-popup';
@import 'swiper/swiper-bundle.min';
@import 'jquery.rateit/scripts/rateit';


.rateit button.rateit-reset {
  background: url('../img/delete.gif') 0 0;
}

.rateit .rateit-range {
  background: url('../img/star.gif');
}
.rateit .rateit-hover {
  background: url('../img/star.gif') left -32px;
}
.rateit .rateit-selected {
  background: url('../img/star.gif') left -32px;
}
.rateit .rateit-preset {
  background: url('../img/star.gif') left -48px;
}

.rateit .rateit-preset-rtl {
  background: url('../img/star.gif') right -48px;
}