.form-check {
  padding-left: 0;
  margin-bottom: .7em;
  .form-check-input {
    @extend .input-hidden;
    &:checked + label {
      .form-check__pseudo {
        .svg-icon {
          opacity: 1;
          visibility: visible;
        }
      }   
    }
  }
  .form-check-label {
    color: var(--cf-0-2);
    display: flex;
    flex-wrap: nowrap;
    // align-items: center;
  }
  .form-check__pseudo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: .5em;
    width: 26 / $fontSizeRelative + em;
    height: 26 / $fontSizeRelative + em;
    border-radius: var(--bdrs-2);
    color: var(--cf-3-0);
    border: 1px solid var(--bdc-0-1);
    .svg-icon {
      opacity: 0;
      visibility: hidden;
    }
  }
  .form-check__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    line-height: 1;
    .svg-icon {
      color: var(--cf-2-2);
      &.active {
        color: var(--cf-4-0);
      }
    }
    strong {
      display: block;
      margin-bottom: 0.4em;
    }
    span {
      display: block;
      margin-bottom: 0.4em;
    }
  }
  .form-check__label-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.form-check__label-colored {
}



.form-check-secondary {
  .form-check__pseudo {
    width: 18 / $fontSizeRelative + em;
    height: 18 / $fontSizeRelative + em;
    .svg-icon {
      font-size: var(--text-6);
    }
  }
  .form-check__label {
    color: var(--cf-0-4);
  }
}
.form-check-radio {
  .form-check__pseudo {
    border-radius: var(--bdrs-1);
  }
}


.form-check-third {
  .form-check-label {
    
  }
  .wpcf7-form-control-wrap {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form-check__label {
    flex-grow: 1;
  }
  .form-check-input {
    position: static;
    float: none;
    margin: 0;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    width: auto;
    height: auto;
  }
  input {
    @extend .input-hidden;
    &:checked + .wpcf7-list-item-label {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .wpcf7-list-item-label {
    font-size: 0;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 12px;
    width: 26px;
    height: 26px;
    border-radius: var(--bdrs-2);
    color: var(--cf-3-0);
    border: 1px solid var(--bdc-0-1) !important;
    &:before {
      content: '';


      display: inline-block;
      width: 16px;
      height: 16px;

      background-image: url('../img/icon-check.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 16px 16px;

      opacity: 0;
      visibility: hidden;
    }
  }
  .form-check__pseudo {
    display: none;
  }
  .wpcf7-list-item {
    margin: 0 !important;
  }
}