.form-rate {
  // background: red;
  .form-control {
    // display: block !important;
  }
}

.star-rating {
  float: none !important;
  &:before {
    color: var(--cf-2-2) !important;
  }
  span {
    &:before {
      color: var(--cf-4-0) !important;
    }
  }
}