.form-file-base {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .form-file__label {
    flex-shrink: 0;
    // margin: 1em 0;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
  }
  .form-file__button {
    // margin-bottom: .5em;
    // margin-right: 1em;
    color: var(--cf-3-0);
    text-transform: none;
  }
  .form-file__list {
    width: 100%;
    flex-grow: 1;
    padding-left: 20 / $fontSizeRelative + em;
  }
  .form-file__list-item {
    // margin-right: 1em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .form-file__list-item-name {
    font-weight: 700;
  }
  .form-file__list-item-del {
    font-size: var(--text-6);
    padding: 0.5em;
    // margin-left: auto;
    margin-left: 2em;
    &:hover {
      opacity: 0.7;
    }
  }
}