.form-control {
  padding: 5 / 14 + em 10 / 14 + em;
  border-color: var(--bdc-0-1);
  font-size: var(--text-5);
  color: var(--cf-0-1);
  height: 36 / 14 + em;
  border-radius: var(--bdrs-2);
  box-shadow: none;
  @include iph() {
    color: var(--cf-2-3);
  }
  &:focus {
    box-shadow: none;
    border-color: var(--bdc-0-1);
  }
}
textarea {
  &.form-control {
    padding: 7 / 14 + em 10 / 14 + em;
    height: auto;
    resize: none;
  }
}
