.range-slider {
  color: var(--cf-0-1);
  margin-bottom: .5em;
  .irs {
    margin-bottom: 20 / $fontSizeRelative + em;
  }
  .irs-min, .irs-max, .irs-from, .irs-to {
    display: none;
  }
  .irs-line {
    background-color: var(--bgc-2-2);
  }
  .irs-bar {
    background-color: var(--bgc-2-0);
  }
  .irs-handle {
    top: 28 / 12 + em;
    width: 18 / 12 + em;
    height: 18 / 12 + em;
    background-color: var(--bgc-0-0);
    border-color: var(--bdc-1-0);
    border-width: 1px;
    @extend .box-shadow--1;
  }
  .form-control {
    height: 32 / 14 + em;
    padding: 3 / 14 + em 10 / 14 + em;
    // max-width: 60 / 14 + em;
    font-size: var(--text-6);
  }
}



