.form-search {
  position: relative;
  .form-control {
    height: 42 / 14 + em;
    padding-left: 1em;
    padding-right: 3em;
    font-size: var(--text-5);
    border-color: var(--bdc-1-0);
    @extend .box-shadow--1;
    @include iph() {
      font-size: var(--text-5);
      font-style: italic;
    }
  }
  .button-search {
    position: absolute;
    top: 50%;
    right: .3em;
    transform: translate(0, -50%);
  }
}

.form-review {
  padding: 20 / $fontSizeRelative + em;
  margin-bottom: 2em;
  background-color: var(--bgc-1-0);
  border-radius: var(--bdrs-2);
}


.form-load-fin-model {
  .form__card {
    @extend .form-review;
    margin-bottom: 0.5em;
  }
  .form__card-in {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .radio-author-type {
    .wpcf7-form-control {
      background-color: transparent;
      width: auto;
      height: auto;
      border: none;
      &:active {
        filter: none;
      }
    }
  }
  .wpcf7-list-item {
    padding-left: 0;
    margin-bottom: .7em;
    input {
      @extend .input-hidden;
      &:checked {
        & + .wpcf7-list-item-label {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .wpcf7-list-item-label {
      position: relative;
      color: var(--cf-0-2);
      display: flex;
      flex-wrap: nowrap;
      // display: block;
      // align-items: center;
      &:before {
        content: '';
        position: relative;
        margin-top: -4 / $fontSizeRelative + em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 26 / $fontSizeRelative + em;
        height: 26 / $fontSizeRelative + em;
        border: 1px solid var(--bdc-0-1);
        flex-shrink: 0;
        margin-right: .5em;
  
        color: var(--cf-3-0);
  
        background-color: var(--bgc-0-0);
        border-radius: var(--bdrs-2);
      }
      &:after {
        position: absolute;
        top: 2 / $fontSizeRelative + em;
        left: 5 / $fontSizeRelative + em;
  
        display: block;
        width: 1em;
        height: 1em;
  
        background-image: url('../img/icon-check.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 1em 1em;
  
        opacity: 0;
        visibility: hidden;
      }
      strong {
        display: block;
        margin-bottom: 0.4em;
      }
      span {
        display: block;
        margin-bottom: 0.4em;
      }
    }
    input[type="radio"] + .wpcf7-list-item-label {
      &:before {
        border-radius: 50%;
      }
    }
  }
  .wpcf7-form-control.form-check-input {
    &:active {

    }
  }
  .acceptance-form-accept {
    display: block;
    span {
      display: block !important;
    }
    .wpcf7-list-item-label {
      &:before {
        top: -5 / $fontSizeRelative + em;
      }
      &:after {
      }
    }
  }
}

.form-basket {
  .list-payments {
    padding-top: 30 / $fontSizeRelative + em;
    @include media(m, $xl) {
      padding-top: 90 / $fontSizeRelative + em;
    }
  }
}



.dgwt-wcas-search-form {
  position: relative;
  input {
    height: 42 / 14 + em !important;
    padding-left: 1em !important;
    padding-right: 3em !important;
    font-size: var(--text-5) !important;
    border-color: var(--bdc-1-0) !important;
    @extend .box-shadow--1;
    @include iph() {
      font-size: var(--text-5) !important;
      font-style: italic !important;
    }
  }
  .dgwt-wcas-search-submit {
    @extend .button-search;
    position: absolute !important;
    top: 50% !important;
    right: .3em !important;
    transform: translate(0, -50%) !important;
    min-height: auto !important;
    line-height: 1 !important;
    min-width: auto !important;
    cursor: pointer;
    svg {
      max-width: 1em !important;
    }
    &:before {
      display: none !important;
    }
  }
  .dgwt-wcas-preloader {
    display: none !important;
  }
}