<div
    class="modal modal-base fade"
    id="signUp"
    tabindex="-1"
    aria-labelledby="signUpLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="mb-3">
            <h4>Регистрация</h4>
          </div>
          <form class="form form-sign-up needs-validation" novalidate>
            <div class="mb-2">
              <label class="form-label" for="">Email</label>
              <input class="form-control" type="email" required>
              <div class="invalid-feedback">Email уже занят</div>
            </div>
            <div class="mb-2">
              <label class="form-label" for="">Пароль</label>
              <input class="form-control" type="password" required>
              <div class="invalid-feedback">Пароли не совпадают</div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="">Подтвердите пароль</label>
              <input class="form-control" type="password" required>
              <div class="invalid-feedback">Пароли не совпадают</div>
            </div>
            <div class="mb-2">
              <div class="form-check form-check-secondary">
                <input class="form-check-input" id="checkbox-2-1" type="checkbox">
                <label class="form-check-label" for="checkbox-2-1">
                  <span class="form-check__pseudo">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-check"></use>
                    </svg>
                  </span>
                  <span class="form-check__label">
                    Я согласен с <a href="#">политикой конфидициальности</a>
                  </span>
                </label>
              </div>
            </div>
            <div class="mb-2">
              <button class="button-secondary" type="submit">Зарегистрироваться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>