<div
    class="modal modal-base fade"
    id="review"
    tabindex="-1"
    aria-labelledby="signInLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="mb-3">
            <h4>Оставить отзыв</h4>
          </div>
          <form class="form form-sign-up needs-validation" novalidate>
            <div class="mb-2">
              <label class="form-label" for="">Имя</label>
              <input class="form-control" type="email" required>
            </div>
            <div class="mb-2">
              <label class="form-label" for="">Email</label>
              <input class="form-control" type="email" required>
            </div>
            <div class="mb-2">
              <label class="form-label" for="">Название отзыва</label>
              <input class="form-control" type="text" required>
            </div>
            <div class="mb-2">
              <label class="form-label" for="">Рейтинг</label>
              <div
                class="
                  form-rate
                  flex-grow-1
                  d-flex
                  flex-column
                  justify-content-center
                "
                data-element="form-rate"
              >
                <input
                  class="form-control"
                  type="text"
                  id="rate-review"
                  required
                />
                <div class="rateit" data-element="rate-pseudo">
                  &nbsp;
                </div>
                <div class="invalid-feedback">Set rate.</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="">Отзыв</label>
              <textarea class="form-control" rows="6" required></textarea>
            </div>
            <div class="mb-3">
              <div class="form-check form-check-secondary">
                <input class="form-check-input" id="checkbox-2-1" type="checkbox">
                <label class="form-check-label" for="checkbox-2-1">
                  <span class="form-check__pseudo">
                    <svg class="svg-icon">
                      <use xlink:href="img/svgSprite.svg#icon-check"></use>
                    </svg>
                  </span>
                  <span class="form-check__label">
                    Нажимая на кнопку “Отправить”, вы даете согласие на обработку персональных  данных и принимаете
                    правила размещения отзывов 
                  </span>
                </label>
              </div>
            </div>
            <div class="mb-2">
              <button class="button-secondary" type="submit">Отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>