<div
    class="modal modal-base fade"
    id="signIn"
    tabindex="-1"
    aria-labelledby="signInLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="modal-body">
          <div class="mb-3">
            <h4>Войти</h4>
          </div>
          <form class="form form-sign-up needs-validation" novalidate>
            <div class="mb-2">
              <label class="form-label" for="">Email</label>
              <input class="form-control" type="email" required>
              <div class="invalid-feedback">Такой email не существует</div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="">Пароль</label>
              <input class="form-control" type="password" required>
              <div class="invalid-feedback">Не верный пароль</div>
            </div>
            <div class="mb-2">
              <button class="button-secondary" type="submit">Войти</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>