<div class="typography-inner">
  <!-- <h4>Описание</h4> -->
  <p>
    Во-первых, это разделы «Допущения», в которых допущения
    вводятся в ячейки для периодов прогноза. Предположения
    сосредоточены на ключевых факторах, специфичных для работы
    ресторана. Здесь вы увидите предположения о ежемесячном
    росте доходов, COGS, связанных с продуктами питания и
    напитками, а также различных операционных расходов. Это
    включает предположения о финансировании до четырех займов.
  </p>
  <p>
    Отчет о прибылях и убытках включает подробные статьи,
    относящиеся к управлению рестораном. Расходы можно добавлять
    или вычитать без нарушения модели. Все разделы баланса и
    отчета о движении денежных средств основаны на формулах и не
    требуют каких-либо корректировок. Раздел «Вспомогательные
    расписания» основан на формулах, связанных с разделами
    «Предположения» и «3 утверждения», поэтому редактирование не
    требуется. Наконец, разделы «Диаграммы» и «Графики»
    визуально отображают ежемесячный денежный поток.
    Коррелирующие данные находятся над графиками и привязаны к
    модели с помощью формул, поэтому они автоматически
    адаптируются к любым изменениям в модели.
  </p>
</div>