<div class="row row-cols-1 row-cols-md-auto flex-md-nowrap gy-3 gx-3">
  <div class="col">
    <div class="card card-rate">
      <div class="card__head">
        <div class="row row-cols-auto align-items-center justify-content-between gy-3 gx-3">
          <div class="col">
            <div class="card__total">
              <div class="row row-cols-auto flex-nowrap align-items-center gy-2 gx-2">
                <div class="col">
                  <div class="list list-stars">
                    <svg class='svg-icon active'>
                      <use xlink:href='img/svgSprite.svg#icon-star'></use>
                    </svg>
                  </div>
                </div>
                <div class="col">
                  <h4 class="mb-0">4.1</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col"><div class="card__review-count">51 отзывов</div></div>
        </div>
      </div>
      <div class="card__body">
        <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
          <div class="card__value-col col">5</div>
          <div class="card__progress-col col flex-shrink-1 flex-grow-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 19.6%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="card__count-col col">10</div>
        </div>
        <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
          <div class="col">4</div>
          <div class="col flex-shrink-1 flex-grow-1">
            <div class="progress active">
              <div class="progress-bar" role="progressbar" style="width: 29.41%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="card__count-col col">15</div>
        </div>
        <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
          <div class="col">3</div>
          <div class="col flex-shrink-1 flex-grow-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 7.83%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="card__count-col col">4</div>
        </div>
        <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
          <div class="col">2</div>
          <div class="col flex-shrink-1 flex-grow-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 0;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="card__count-col col">0</div>
        </div>
        <div class="row row-cols-auto flex-nowrap align-items-center gx-2 gy-2 mb-2">
          <div class="col">1</div>
          <div class="col flex-shrink-1 flex-grow-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 43.1%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="card__count-col col">22</div>
        </div>
      </div>
      <div class="card__foot">
        <div class="text-center">
          <div class="mb-3">
            <a
              class="button button-base-secondary w-100"
              data-bs-toggle="modal"
              href="#review"
              role="button"
            >
              Написать отзыв
            </a>
          </div>
          <div>
            <a href="#">Правила написания отзывов</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col flex-shrink-1 flex-grow-1">
    <div class="card card-review">
      <div class="card__head">
        <div class="row row-cols-auto justify-content-between align-items-center gy-3 gx-3">
          <div class="col">
            <div class="card card-user">
              <div class="row row-cols-auto align-items-center gy-3 gx-3">
                <div class="col">
                  <div class="avatar-secondary ratio ratio-1x1">
                    <img src="img/avatar-1.png" alt="">
                  </div>
                </div>
                <div class="col flex-shrink-1 flex-grow-1">
                  <div class="card__user-name">Идмунд Робетрович</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card__date">12.05.2021</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__title">Какое то название отзыва</div>
        <div class="card__content">
          Финмодели для руководителей и собственников бизнеса, которые хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию и собственников бизнеса, которые хотят разобраться в нем.
        </div>
        <div class="list-stars">
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="card card-review">
      <div class="card__head">
        <div class="row row-cols-auto justify-content-between align-items-center gy-3 gx-3">
          <div class="col">
            <div class="card card-user">
              <div class="row row-cols-auto align-items-center gy-3 gx-3">
                <div class="col">
                  <div class="avatar-secondary ratio ratio-1x1">
                    <img src="img/avatar-1.png" alt="">
                  </div>
                </div>
                <div class="col flex-shrink-1 flex-grow-1">
                  <div class="card__user-name">Идмунд Робетрович</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card__date">12.05.2021</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__title">Какое то название отзыва</div>
        <div class="card__content">
          Финмодели для руководителей и собственников бизнеса, которые хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию и собственников бизнеса, которые хотят разобраться в нем.
        </div>
        <div class="list-stars">
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="card card-review">
      <div class="card__head">
        <div class="row row-cols-auto justify-content-between align-items-center gy-3 gx-3">
          <div class="col">
            <div class="card card-user">
              <div class="row row-cols-auto align-items-center gy-3 gx-3">
                <div class="col">
                  <div class="avatar-secondary ratio ratio-1x1">
                    <img src="img/avatar-1.png" alt="">
                  </div>
                </div>
                <div class="col flex-shrink-1 flex-grow-1">
                  <div class="card__user-name">Идмунд Робетрович</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card__date">12.05.2021</div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="card__title">Какое то название отзыва</div>
        <div class="card__content">
          Финмодели для руководителей и собственников бизнеса, которые хотят разобраться в нем, что бы повысить прибыль или подготовится к масштабированию и собственников бизнеса, которые хотят разобраться в нем.
        </div>
        <div class="list-stars">
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon active'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
          <svg class='svg-icon'>
            <use xlink:href='img/svgSprite.svg#icon-star'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>