<script src="js/jquery.min.js"></script>
<script src="js/svg4everybody.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/ion.rangeSlider.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.rateit.min.js"></script>
<script src="js/main.js"></script>