.header {
  .button-base {
    // margin-left: 0.3em;
  }
  .link-phone {
    margin-right: 0.3em;
  }
}
.header__head, .header__sub {
  padding: 20 / $fontSizeRelative + em 0;
}

.header__sub {
  background-color: var(--bgc-1-0);
  .button-secondary {
    min-width: 240 / $fontSizeRelative + em;
  }
}

.header__sub-form {
  @include media(d, $md) {
    width: 100%;
  }
}